{
    "plugins": [
        [
            "module-resolver",
            {
                "alias": {
                    "~": "./src"
                }
            }
        ]
    ]
}
// Babelrc chuyển đổi thành '~/App'
// import App from '~/App'